.form_container {
    max-width: 250px;
    margin: 0 auto;
    border-radius: 20px;
}

.form_container input[type='submit'] {
    background-color: #4cacaf;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.form_container input[type='submit']:hover {
    background-color: #45a0a4;
}

.form_container p {
    margin-top: 1em;
}

.form_container p a {
    color: #4cacaf;
    font-weight: bold;
}

.preview_movie_images {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.preview_movie_images img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-left: 1em;
}


