.movie_details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.movie_details__container p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.margin_details__header {
    margin-top: 2rem;
}

.movie_img {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.movie_img img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}
