.message {
    padding: 1rem;
    margin: 1em auto;
    border: 1px solid #333;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    max-width: 50%;
    text-align: center;
}

.success {
    background: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.error {
    background: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}