.navbar {
    background-color: #DAC0A3;
    color: #102c57;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    margin: 0 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5em 0.8em;
    border-radius: 5px;
}

.navbar input {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
}

.navbar button {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: #102C57;
    color: white;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #1A75BB;
}